/* header */
h1{
    font-family: 'Calistoga', cursive;
}

header>img{
    width: 4rem;
    height: 3rem;
}

/* list */
i,
span{
    cursor: pointer;
}

.fa-xmark:hover{
    color: red;
}

.fa-check:hover{
    color: green;
}

.lineThroughColor{
    text-decoration: line-through;
    -webkit-text-decoration-color: red;
    text-decoration-color: red;
}


